
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 40px;
  color: white;
  padding-bottom: 20px;
} 

.logo-img {
  float: left;
  padding-top: 10px;
}

.app-name {
  float: left;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin-top:100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

